<% provide :title, t("static_pages.home.home") %>
<%= link_to t("static_pages.home.to_en"), locale: :en %>
<%= link_to t("static_pages.home.to_vi"), locale: :vi %>
<div class="center jumbotron">
    <h1><%= t "static_pages.home.text_home_title" %></h1>
    <h2>
      <%= t "static_pages.home.text_home_page" %>
      <%= link_to t("static_pages.home.ruby_link"), "https://www.ruby-lang.org/vi/" %>
    </h2>
    <%= link_to t("static_pages.home.sigup_now"), "#" , class: "btn btn-lg btn-primary" %>
</div>
