<% provide:title, t("reset_password.title") %>
<h1><%= t "sessions.new.title" %></h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <%= form_for(:sessions, url: login_path) do |f| %>
  <%= f.label :email, t("users.email") %>
  <%= f.email_field :email, class: "form-control" %>
  <%= f.label :password, t("users.password") %>
  <%= link_to t("reset_password.forgot_pass"), password_resets_new_path %>
  <%= f.password_field :password, class: "form-control" %>
  <%= f.label :remember_me, class: "checkbox inline" do %>
  <%= f.check_box :remember_me %>
    <span><%= t("sessions.remember")%></span>
    <% end %>
  <%= f.submit t "sessions.new.title", class: "btn btn-primary" %>
  <% end %>
  <p>
    <span><%= t "sessions.new.new_account?" %></span>
    <span><%= link_to t("sessions.new.sign_path"), signup_path %></span>
  </p>
</div>
</div>
