<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.user.avatar_size), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= t("micropost.posted", time_posted: time_ago_in_words(micropost.created_at)) %>
    <% if current_user? micropost.user %>
      <%= link_to t("micropost.destroy.delete"), micropost, method: :delete,
          data: {confirm: t("micropost.destroy.confirm_del")} %>
    <% end %>
  </span>
</li>
