<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <p id="logo"><%= link_to t("static_pages.home.logo"), root_path %></p>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.home"), root_path %></li>
        <li><%= link_to t("static_pages.home.help"), static_pages_help_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "static_pages.users.show.profile" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("static_pages.users.show.profile"), current_user %></li>
              <li><%= link_to t("static_pages.users.update.set"), "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("static_pages.sessions.destroy.title"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("static_pages.sessions.new.title"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
